<div class="container">
  <div>
    <h3>ANGULAR OPEN ISSUES</h3>
    <input
      class="issues-input"
      #in
      type="text"
      (change)="buscar(in.value)"
      tabindex="0"
      id="issue0"
    />
  </div>
  <div class="results-count">{{ resultMessage }}</div>
  <span *ngIf="loading$ | async" class="loader"></span>
  <div
    class="issue"
    *ngFor="let item of items; let i = index"
    tabindex="{{ i + 1 }}"
    (click)="goTo(item.html_url)"
    id="issue{{ i + 1 }}"
    (keyup.enter)="goTo(item.html_url)"
  >
    <div class="title">{{ item.title }}</div>
    <div class="labels">
      <div
        class="label"
        *ngFor="let label of item.labels"
        [ngStyle]="{ background: '#' + label.color }"
      >
        {{ label.name }}
      </div>
    </div>
  </div>
</div>
